.toggle {
    display: flex;
    position: relative;
    width: 2.5rem;
    height: 7.5rem;
    background: var(--pallete-gray-dark);
    align-self: center;
    user-select: none;
    margin: 2rem;
    border-radius: .7rem;
}

.toggle:after,
.toggle:before {
    flex: 1;
    text-align: center;
    line-height: 2.5rem;
}

input {
    display: none;
}

.label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    perspective: 1000;
    cursor: pointer;
}

.card {
    position: relative;
    background: var(--pallete-gray-light);
    transition: .4s;
    height: 50%;
    width: 2.5rem;
    pointer-events: none;
}

.slide .card {
    transform: translate(0);
    border-top-left-radius: .7rem;
    border-top-right-radius: .7rem;
}

.active .card {
    background: var(--pallete-green-light);
    transform: translateY(3.75rem);
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: .7rem;
    border-bottom-right-radius: .7rem;
}